@model Regularidad.Models.TicketDetalle

@{
    ViewData["Title"] = "Details";
}

<h1>Detalle del ticket</h1>

<div>
    <a asp-action="Index">Volver a la lista</a>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Descripcion del Pedido
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescripcionPedido)
        </dd>
        <dt class = "col-sm-2">
            Fecha Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaEstado)
        </dd>
        <dt class = "col-sm-2">
            Ticket asociado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ticket.NombreTicket)
        </dd>
        <dt class = "col-sm-2">
            Estado
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.estado.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark mt-3" asp-action="Edit" asp-route-id="@Model?.Id">Editar</a>

    
</div>
